@model Sistas.Models.userdata

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.data1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data4)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="button" value="Delete" id="btnDelete" class="btn btn-default" /> |
            
        </div>
    }
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">
        $("body").on("click", "#btnDelete", function () {
            var jsonresult = {};
            jsonresult.id = @Model.id;
            $.ajax({
                type: "POST",
                url: "/Home/Delete",
                data: JSON.stringify(jsonresult),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r) {
                        alert("Delete Success.");
                    } else {
                        alert("fail.");
                    }
                }
            });
        });
</script>
